body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("Background_photo.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 97vh;
    transition: background 0.5s ease-in-out;
}

.container {
    background: white;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

#info {
    background-color: green;
}

#info:hover {
    background-color: rgb(0, 178, 0);
}

#update {
    background-color: rgb(0, 0, 255);
}

#update:hover {
    background-color: rgb(80, 80, 255);
}

#danger {
    background-color: red;
}

#danger:hover {
    background-color: rgb(255, 80, 80);
}

#remov {
    background-color: rgb(0, 0, 130);
}

#remov:hover {
    background-color: rgb(0, 0, 200);
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #ddd;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s, transform 0.2s;
}

li.selected {
    background: yellow;
    transform: scale(1.05);
}